<%= form_for(@profile) do |p| %>
	<%= p.label :Titel %><br />
	<%= p.text_field :Titel %>

	<%= p.label :Name %>
	<%= p.text_field :Name %>

	<div class="form-group">
	  <%= p.label :Beschreibung %>
	  <%= p.text_area :Beschreibung, rows: 15, cols: 60 %> 
	</div>

	<%= p.file_field :profileavatar %>

	<hr>

	<%= p.submit "Profil erstellen" %>
<% end %> 
 