<%= form_for(@profile) do |p| %>
    <div class="form-group">
		<%= p.label :Titel %><br />
		<%= p.text_field :Titel %>
	</div>

    <div class="form-group">
		<%= p.label :Name %><br />
		<%= p.text_field :Name %>
	</div>

	<div class="form-group">
	  <%= p.label :Beschreibung %><br />
	  <%= p.text_area :Beschreibung, rows: 15, cols: 60 %> 
	</div>

	<%= p.file_field :profileavatar %>

	<hr>

	<%= p.submit "Profil erstellen" %>
<% end %> 
 