<div class="row">
	<div class="container">
		<div class="col-md-6">
           <h1><%= @profile.Name %></h1>
            <% if @profile.profileavatar? %>
		      <%= image_tag @profile.profileavatar.url(:medium) %>
		    <% else %>
		      No attachment available!
		    <% end %>
	    </div>

        <div class="col-md-6">
		  <h2>Titel</h2>
		    <%= @profile.Titel %>
		  <h3>Beschreibung</h3>
		    <%= @profile.Beschreibung %>
		  <h3>Kontaktieren</h3>
		    <%= @profile.user.email %>

          <% if user_signed_in? %>
	          <% if current_user.profile == @profile %>
			    <p><%= link_to 'Bearbeiten', edit_profile_path %>
			       <%= link_to 'Löschen', @profile, method: :delete, data: { confirm: "Sind Sie sicher?" } %>
			    </p>
			  <% end %>
		 <% end %>  
		</div>
	</div>
</div>

		 
 