<%= form_for @job, html: { multipart: true } do |j| %>
  <div class="form-group">
    <%= j.label :Titel %>
    <p><%= j.text_field :Titel %></p>
  </div>
  
  <div class="form-group">
    <%= j.label :Beschreibung %>
    <p><%= j.text_area :Beschreibung, rows: 10, cols: 50, maxlength: 800 %></p>
  </div>

  <div class="form-group">
    <%= j.label :Ort %>
    <p><%= j.text_field :Ort %></p>
  </div>

  <div class="form-group">
    <%= j.file_field :avatar %>
  </div>
  
  <hr>
  
  <%= j.submit "Job einstellen" %>
<% end %>
