<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Alle Jobangebote</h1>
      <p><%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Jobs durchsuchen" %>
            <%= submit_tag "Suchen", :name => nil %>
          <% end %>
      </p>
      <%= paginate @jobs %>
        <% @jobs.each do |j| %>
          <div class="border-index">
            <h2 class="post-title"><%= link_to j.Titel, job_path(j) %></h2>
            <h4 class="post-subtitle"><%= j.Ort %></h4>
            <p class="post-meta">Posted by <%= j.user.email %>, <%= distance_of_time_in_words(j.created_at, Time.now) %> ago </p>
          </div>
        <% end %>
      <%= paginate @jobs %>
    </div>
  </div>
</div>
   
  








