<div class="container">
  <div class="row">
    <div class="col-md-6">
	   <h1><%= @job.Titel %><h1>
          <h3>Beschreibung</h3>
             <%= markdown @job.Beschreibung %>
          <h3>Ort</h3>
             <%= @job.Ort %>
		  <% if current_user == @job.user %>
		     <p><%= link_to ' Bearbeiten', edit_job_path, class: "fa fa-pencil-square-o" %>
	         <%= link_to ' Löschen', @blog, method: :delete, data: { confirm: "Sind Sie sicher?" } , class: "fa fa-trash" %>
		     </p>
		  <% end %>
	</div>
	<div class="cold-md-6">
		<div id="myModal" class="modal">
           <span class="close">&times;</span>
           <img class="modal-content" id="img01">
           <div id="caption"></div>
        </div>

        <% if @job.avatar? %>
	         <%= image_tag @job.avatar.url(:big), id:"myImg" %>
		   <% else %>
		     Kein Bild vorhanden!
	       <% end %>

        <script>
		// Get the modal
		var modal = document.getElementById('myModal');

		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById('myImg');
		var modalImg = document.getElementById("img01");
		var captionText = document.getElementById("caption");
		img.onclick = function(){
		    modal.style.display = "block";
		    modalImg.src = this.src;
		    captionText.innerHTML = this.alt;
		}

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() { 
		    modal.style.display = "none";
		}
		</script>
		   
	</div>
  </div>
</div>

