<div class="row">
  <div class="col-md-2 col-md-offset-5">
	<h1><%= @job.Titel %><h1>
	<h3>Beschreibung</h3>
	  <%= @job.Beschreibung %>
	<h3>Ort</h3>
	  <%= @job.Ort %>
	
	  <% if @job.avatar? %>
        <%= image_tag @job.avatar.url(:medium) %>
	  <% else %>
	    No attachment available!
	  <% end %>
	
	   
    

	<p><%= link_to 'Bearbeiten', edit_job_path %>
	   <%= link_to 'Löschen', @blog, method: :delete, data: { confirm: "Sind Sie sicher?" } %>
	</p>
  </div>
</div>