<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
  	  <span class="icon-bar"></span>
  	  <span class="icon-bar"></span>
  	  <span class="icon-bar"></span>
  	</button>
  	    
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Alle Profile anzeigen', profiles_path %></li>
          <% if user_signed_in?  %>
            concat <li><%= link_to 'Neues Jobangebot einstellen', new_job_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% if current_user.image? %>
              <%= image_tag(current_user.image) %>
            <% end %>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %>
              <li><%= link_to 'Register', new_user_registration_path %>
          <% end %>
      </ul>
  	</div>
  </div>
</div>