<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
  	<%= link_to root_path do %>
      <%= image_tag "Braubrettlogo.png", class: "logo" %>
    <% end %>
    
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
  	  <span class="icon-bar"></span>
  	  <span class="icon-bar"></span>
  	  <span class="icon-bar"></span>
  	</button>
  	    
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in?  %>
          concat <li><%= link_to 'Neues Jobangebot einstellen', new_job_path %></li>
          <% if current_user.profile.blank? %>
            <li><%= link_to 'New Profile' , new_profile_path %></li>
            <% else %>
            <li><%= link_to 'My Profile', profile_path(current_user.profile) %></li>
          <% end %>
            
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %>
            <li><%= link_to 'Register', new_user_registration_path %>
        <% end %>
      </ul>
  	</div>
  </div>
</div>