<!DOCTYPE html>
<html>
  <head>
    <title>Braubrett</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    


    <%= render partial: 'shared/navbar' %>
    
    <%= yield %>
    
    <%= js add_gritter(flash[:notice] , sticky: false) %>
    <%= js add_gritter(flash[:alert] , sticky: false) %>
  </body>
</html>
